<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Mutiara Clinic</title>
</head>
<p></p>
<body>

<div class="card text-white bg-primary mb-3" style="max-width: 80rem;">
  <div class="card-header">Mutiara Clinic</div>
  <div class="card-body">
    <h4 class="card-title">About Us</h4>
    <p class="card-text">Welcome to Mutiara Clinic, where your health and well-being are our top priorities. Our clinic is dedicated to providing high-quality medical care and personalized attention to every patient who walks through our doors.</p>
    <p class="card-text">At Mutiara Clinic, we strive to create a warm and welcoming environment where patients feel comfortable and cared for. Our team of experienced healthcare professionals is committed to delivering compassionate care and innovative treatments to help you achieve optimal health.</p>
    <p class="card-text">Our comprehensive range of medical services includes general consultations, preventive care, diagnostic screenings, vaccinations, and more. Whether you're dealing with an illness, managing a chronic condition, or simply in need of routine check-ups, our team is here to support you every step of the way.</p>
    <p class="card-text">As a community-focused clinic, we value building long-term relationships with our patients and being a trusted partner in their healthcare journey. We believe in empowering individuals to take control of their health and providing them with the resources and support they need to thrive.</p>
    <p class="card-text">Thank you for choosing Mutiara Clinic for your healthcare needs. We look forward to serving you and your family with excellence, compassion, and integrity.</p>
</div>
</div>
<footer>
  <div class="container">
      <p>&copy; 2024 Mutiara Clinic. All rights reserved.</p>
  </div>
</footer>
</body>
</html>
